<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>eCommers</title>
</head>
<body>
<h2>Products</h2>
<a  sec:authorize="isAnonymous()" th:href="@{/user/login}">로그인</a>
<a  sec:authorize="isAuthenticated()" th:href="@{/user/logout}">로그아웃</a>
<table>
    <thead>
        <tr>
            <th>제품이름 <span>|</span></th>
            <th>제품 가격 <span>|</span></th>
            <th>제품판매자 <span>|</span></th>
            <th>장바구니 버튼</th>
        </tr>
    </thead>
    <tbody>
        <tr th:each="products : ${productsList}">
            <td><a th:href="@{|/products/detail/${products.id}|}">[[${products.productName}]]</a></td>
            <td th:text="${products.price}"></td>
            <td th:text="${products.seller.username}"></td>
            <td><a th:href="@{|/cart/add/${products.id}|}"> 장바구니 담기</a></td>
        </tr>
    </tbody>
</table>
<a th:href="@{/products/create}"> 제품 등록하기</a>
</body>
</html>