<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <title>eCommers</title>
</head>
<body>
<h2>Register</h2>
<form th:action="@{/user/register}" th:object="${usersForm}" method="post">
    <label for="username">username</label>
    <input type="text" id="username" name="username">
    <label for="nickname">nickname</label>
    <input type="text" id="nickname" name="nickname">
    <label for="email">email</label>
    <input type="text" id="email" name="email">
    <label for="password1">password</label>
    <input type="password" id="password1" name="password1">
    <label for="password2">passwordConfirm</label>
    <input type="password" id="password2" name="password2">

    <button type="submit" >회원가입</button>
</form>
</body>
</html>